.app {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.app__overlay {
  display: none;
}

@media (max-width: 768px) {
  .app__overlay {
    display: block;
    position: fixed;
    inset: 0;
    background: var(--overlay-primary);
    z-index: 90;
  }
}
